:root{
  /*radial-gradient(circle at 0% 0%, rgb(1, 26, 171) 20%, rgb(255, 0, 54) 100%) 50% 50%;*/
  --background : #FFFFFF;
  --font-text : #000000;
  --button-color : #000000;
  --login-screen : rgb(30, 24, 157);
  --button-font : black;
  --input-color : rgba(255, 255, 255, 0.32);
  --overlay : rgba(255, 255, 255, 0.35);
  --login-color : radial-gradient(circle at 0% 0%, rgba(255, 90, 90, 0.15) 0%, rgba(250, 47, 47, 0.15) 50%, rgba(0, 37, 255, .15) 100%) 0px 0px ;
  --placeholder : rgba(0, 0, 0, 0.41);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background: var(--background);
  background-repeat: no-repeat;
  width: 100%;
  color: var(--font-text);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  height: 100vh;
}

.main-home-container{
  display: flex;  
  justify-content: space-evenly;
  height: 100%;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.main-home-container p {
  display: flex;
  font-size: 8rem;
  font-family: Work Sans;
  line-height: 6rem;
  margin-bottom: 20px;
}
.main-home-container span {
  display: block;
  line-height: 5rem;
}

.subtitle{
  font-size: 74%;
  padding-left: 2%;
}

.left-side,
.right-side{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  
}

.left-side{
  margin-top: 110px;
  margin-left: 100px;
}

.right-side{
  flex-direction: row;
  overflow: hidden;
  margin-right: 100px;
}

.buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  margin-top: 10px;
}

.right-side .buttons{
  display: none;
}

.header {
  width: 100%;
  display: flex;
  justify-content: right;
  margin-right: 10rem;
  align-items: center;
}

.header p{
  font-size: 1rem;
  line-height: 12px;
  text-align: center;
}

.header button,
button, .btn-link {
  font-family: Roboto;
  background-color: transparent;
  border: none;
  font-weight: bold;
  color: var(--font-text);
  text-decoration: none;
}

.page-title{
  position: relative;
  display: flex;
}

button, .btn,
.secondary-btn{
  --heigthButton: 2rem;
  background-color: transparent;
  border-width: 1px;
  border: solid;
  border-color: var(--button-font);
  padding: 1rem var(--heigthButton);
  color: var(--button-font);
  border-radius: var(--heigthButton);
  text-decoration: none;
  transition: 0.15s;
}

.btn:hover{
  background-color: var(--button-color);
  color: var(--background);
}

u{
  text-decoration: none;
}

button:hover,
.secondary-btn:hover{
  text-decoration: underline;
}

.btn{
  font-size: 1rem;
  font-weight: bold;
}

.secondary-btn{
  border-style: none;
  padding: 1rem var(--heigthButton);
  font-size: small;
}

.sign-in, 
.log-in,
.overlay{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--login-screen);
  border-radius: 1rem;
  padding: 2rem;
  align-self: center;
  width: 100%;
  max-width: 350px;
}

.overlay{
  resize: none;
  max-width: 500px;
  height: 100%;
  max-height: 600px;
  font-family: Roboto, sans;
  color: var(--font-text);
  font-size: 1.5rem;
  padding-top: 50px;
}

.sign-in u,
.log-in u{
  margin-bottom: 1rem;
}

textarea:focus {
  outline: 2px solid var(--login-color); /* Change the color and thickness to your preference */
  outline-offset: 2px; /* Add some padding to the outline for better visual appearance */
}

.sign-in p,
.log-in p,
.right-side p{
  font-weight: bolder;
  font-size: large;
  line-height: 1.4rem;
  margin: 1.2rem 0 1.2rem;
}

.right-side p{
  margin: 0;
  font-family: 'Mukta', sans-serif;
}

.right-side a{
  font-size: 1.2rem;
}

.inner-form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /*align-items: center;*/
  height: 100%;
  width: 100%;
}

.inner-form button{
  width: 100%;
  max-width: 120px;
  align-self: center;
  margin-bottom: 1rem;
  border-style: none;
  border-width: 0;
  background-color: var(--input-color);
  color: var(--font-text);
}

.input-gray{
  background-color: var(--input-color);
  border: none;
  border-radius: 1.5rem;
  font-size: large;
  font-family: Roboto, sans;
  margin-bottom: 1rem;
  height: 50px;
  width: 100%;
  padding-left: 40px;
  align-self: center;
}


.input-div i{
  position: absolute;
  left: 18%;
  top: 17.5px;
  left: 4%;
  color: black;
  opacity: 0.5;

}

.input-div{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.input-gray::placeholder {
  color: black;
  opacity: 0.5; /* Firefox */
}

.mini-text{
  font-size: 12px;
  text-decoration: none;
}

.mini-text:hover{
  text-decoration: underline;
  transition: 0.15s;
}

#placeholder{
  display: flex;
  align-self: center;
  max-width: 500px;
  position: absolute;
  color: var(--font-text);
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  padding: 1.5rem;
  width: 100%;
  max-width: 450px;
  height: 100%;
  max-height: 550px;
}

.right-side span{
  line-height: normal;
  font-size: 1.5rem;
  font-family: Roboto, sans;
}

.line-break {
  display: inline-block;
  width: 100%;
  height: 0;
  margin: 0;
  padding: 0;
  line-height: 2; /* Adjust the value to control the spacing */
}

#myInput:focus + #placeholder {
  opacity: 0; /* Hide the placeholder when the input is focused */
}

#submit{
  text-decoration: none;
}

/*RESPONSIVE RESIZES*/

@media (max-width: 1230px ){
  .left-side{
    display: none;
  }

  .right-side{
    margin-right: 0;
    flex-direction: column;
    height: 80%;
    gap: 2rem;
    padding-top: 20px;
    flex: 1fr 0.5fr;
  }

  .right-side p {
    font-size: 20%;
  }

  .right-side .buttons{
    display: contents;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    row-gap: 0.3rem;
  }

  .right-side .buttons .btn, 
  .right-side .buttons .secondary-btn{
    margin: 0;
    font-size: 90%;
    padding: 10px 20px;
  }

  .header{
    justify-content: center;
    margin-right: 0;
  }

  .header p{
    font-size: unset;
  }

  #placeholder{
    padding-top: 55.5px;
  }

}

@media (max-width: 490px){
  .right-side span{
    line-height: normal;
    font-family: Roboto, sans;
    font-size: 1rem;
  }

  .overlay{
    font-size: 1rem;
  }
  

}