* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background: radial-gradient(circle at 0% 0%, rgb(1, 26, 171) 20%, rgb(255, 0, 54) 100%) 50% 50%;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  color: white;
  padding-top: 20px
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-title-container {
  
}

.page-title-container p {
  font-size: 300%;
  font-family: Work Sans;
}

.header{
  width: 100%;
  display: flex;
  justify-content: right;
  margin-right: 200px;
}

.header button{
  font-family: Roboto;
  background-color: transparent;
  border: none;
  font-weight: bold;
  color: white;
  margin-right: 10px;
}