:root{
  --background : radial-gradient(circle at 0% 0%, rgb(1, 26, 171) 20%, rgb(255, 0, 54) 100%) 50% 50%;
  --font-text : white;
  --button-color : white;
  --login-screen : rgba(255, 255, 255, 0.15);
  --button-font : black;
  --input-color : rgba(255, 255, 255, 0.32);
  --overlay : rgba(0, 0, 0, 0.15);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background: var(--background);
  background-repeat: no-repeat;
  width: 100%;
  color: var(--font-text);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--overlay);
  height: 100vh;
}

.page-title-container{
  display: flex;  
  justify-content: center;
  height: 100%;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.page-title-container p {
  font-size: 5rem;
  font-family: Work Sans;
  line-height: 5rem;
}
.page-title-container span {
  display: block;
}

.page-title-container span:first-child {
  font-size: 1.38em;
}

.page-title-container >div{
  align-items: center;
  display: flex;
  font-size: 170px;
  gap: 1rem;
}

.header {
  width: 100%;
  display: flex;
  justify-content: right;
  margin-right: 25px;
}

.header button,
button, .btn-link {
  font-family: Roboto;
  background-color: transparent;
  border: none;
  font-weight: bold;
  color: var(--font-text);
  text-decoration: none;
}

button, .btn{
  --heigthButton: 2rem;
  background-color: var(--button-color);
  padding: 1rem var(--heigthButton);
  color: var(--button-font);
  border-radius: var(--heigthButton);
  text-decoration: none;
}

.btn{
  font-size: 1rem;
  font-weight: bold;
}

.sign-in{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--login-screen);
  border-radius: 1rem;
  width: 90%;
  max-width: 400px;
  padding: 0 25px 25px;
}

.sign-in p{
  font-size: 1.5rem;
  font-weight: bolder;
  margin: 45px 0 45px;
}

.inner-form{
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  width: 90%;
}

.inner-form button{
  width: 100%;
  max-width: 120px;
  align-self: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.input-gray{
  background-color: var(--input-color);
  border: none;
  border-radius: 1.5rem;
  font-size: 1rem;
  font-family: Roboto, sans;
  margin-bottom: 30px;
  height: 50px;
  width: 100%;
  padding-left: 40px;
  color: var(--font-text);
}

.input-div i{
  position: absolute;
  left: 12px;
  top: 17.5px;
  color: var(--button-font);
  opacity: 0.32;

}

.input-div{
  position: relative;
}

.input-gray::placeholder {
  color: var(--button-font);
  opacity: 0.35; /* Firefox */
}

.mini-text{
  font-size: 12px;
}