<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Notes App</title>
  <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans:wght@700&display=swap" rel="stylesheet">
</head>

<body>
  <main>
    <div class="header">
      <button>
        <p>LOG IN</p>
      </button>
      <button>
        <p>ABOUT US</p>
      </button>
    </div>
    <div class="page-title-container">
      <p>Notes Website</p>
    </div>
    <div class="login-button">

    </div>
    <br />
    {% block content %} {% endblock content %}
  </main>
</body>

</html>