{% extends 'base.html' %} {% block content %}
<main>
  <div class="header">
    <button>
      <a class="btn-link" href="/editor">EDITOR</a>
    </button>
    <button id="btn-theme">
      <i class="fa-solid fa-sun"></i>
    </button>
  </div>
  <div class="main-home-container">
    <div class="left-side">
      <div class="page-title">
        <div
          style="
            position: absolute;
            background-color: var(--font-text);
            width: 20px;
            height: 90%;
            left: -30px;
            top: -5px;
          "
        ></div>
        <p>
          <span class="notes"
            >Notes <br /><a class="subtitle">Website</a>
          </span>
        </p>
      </div>
      <div class="buttons">
        <a class="btn" href="/signin">SIGN IN</a>
        <a class="secondary-btn" href="/login"><u>LOG IN</u></a>
      </div>
    </div>
    <div class="right-side">
      
      <textarea class="overlay" id="myInput" cols="30" rows="10"></textarea>
      <p id="placeholder">
          <span> <a style="font-size: larger;">MARCUS AURELIUS</a> <br/> <br/>'Everything we hear is an opinion, not a fact. Everything we see is a perspective, not the truth.' <br/><br/>
            <a style="font-size: larger;
            color: var(--placeholder);
            font-size: 90%;">Start writing your thoughts today...</a></span>
        </p>
        <div class="buttons">
          <a class="btn" href="/signin">SIGN IN</a>
          <a class="secondary-btn" href="/login"><u>LOG IN</u></a>
        </div>
    </div>
  </div>

  <br />
</main>
{% endblock content %}
